* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #141414;
  color: white;
}

#board {
  display: flex;
  width: 600px;
  flex-wrap: wrap;
}

.square {
  width: 200px;
  height: 200px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
  font-family: 'Permanent Marker', cursive;
  cursor: pointer;
  user-select: none;
}

.square:hover {
  background: radial-gradient(rgba(91,91,91,0.2), #141414, #141414);
}

.square:nth-child(1), .square:nth-child(2), .square:nth-child(3) {
    border-top: 0;
}
.square:nth-child(7), .square:nth-child(8), .square:nth-child(9) {
    border-bottom: 0;
}
.square:nth-child(3n+1) {
    border-left: 0;
}
.square:nth-child(3n) {
    border-right: 0;
}

#game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#head {
  font-size: 70px;
  padding-top: 25px;
  padding-bottom: 50px;
  font-family: 'Permanent Marker', cursive;
  font-style: italic;
}

.btn-group .button {
    background-color: #e7e7e7;
    border: 1px solid black;
    border-radius: 4px;
    color: black;
    margin: 50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    float: left;
}
.btn-group .button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
.btn-group .button:hover {
    background-color: rgba(180,180,180,0.6);
}
